/* add flex to components to make them as grid */
.home-products {
    width: 100%;
}

.products {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 10px;
}

.pagination {
    display: flex;
    justify-content: center;
}