.container-suggested {
    margin-top: 20px;
}

.suggested {}

.suggested-product:hover {
    /* box-shadow: 0px 5px 15px; */
}

.detail {
    width: 225px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.name-product {
    font-size: 14px;
    margin-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price-product {
    color: red;
}