.container-login {}

.center {
  text-align: center;
}

.form-login {}

.login-form-button {
  background-color: #ff4f04;
  color: #fff;
}

.login-title {
  margin-bottom: 30px;
}

.icon {
  text-align: center;
}

ul {
  display: flex;
  justify-content: center;

}

li {
  list-style: none;
}

.image {
  padding: 0 20px;
  margin-top: 20px;
}